<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.securefit">

    <application
        android:label="SecureFit"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.SecureFit">

        <!-- Define LoginActivity with android:exported -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"> <!-- Explicitly specify exported -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
